PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/spark
JWT_SECRET=replace-me
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=replace-me
CLOUDINARY_CLOUD_NAME=replace-me
CLOUDINARY_API_KEY=replace-me
CLOUDINARY_API_SECRET=replace-me
